* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #fdf0e9;
  padding-bottom: 185px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1650px) {
  .container {
    padding: 0 23px;
  }
}
